<!DOCTYPE html>
<html lang="en">
<%- include('parts/head')%>

    <body>
        <div class="app">
            <%-include('parts/nav.ejs')%>
                <main class="main">
                    <section class="main__header main__header--add smaller-height">
                        <h1 class="header__heading">Register in our page</h1>
                    </section>
                    <section class="main__login">
                        <form method="post" class="login__form" action="/register">
                            <%if(error.length > 0){%>
                            <span class="error"><%=error%></span>
                            <%}%>
                            <label for="email">Email</label>
                            <input class="input margin" type="email" name="email" id="email">
                            <label for="username">Username</label>
                            <input class="input margin" type="text" name="username" id="username">
                            <label for="password">Password</label>
                            <input class="input margin" type="password" name="password" id="password">
                            <button class="button margin">Register</button>
                            <span>Already have an account? <a class="link" href="/login">Click here</a> to login</span>
                        </form>
                    </section>
                </main>
                <%-include('parts/footer.ejs')%>
        </div>
        <%-include('parts/scripts/scroll.ejs')%>
            <%-include('parts/scripts/hamburger.ejs')%>
    </body>

</html>